@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/NeueMachina/NeueMachina-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/NeueMachina/NeueMachina-Ultrabold.otf");
  font-weight: 800;
}
